/* ----------- MAIN PAGE ------------- */

body {
  margin: 0;
  padding: 0;
  font-size: calc(1rem + 2vmin);
  font-family: "Shadows Into Light", cursive;
  background-color: #282c34;
  color: gainsboro;
}

.big-title {
  color: #f6e58d;
  font-size: calc(1.3rem + 2vmin);
  text-align: center;
}

.paragraph {
  font-family: "Oswald", sans-serif;
  font-size: calc(0.2rem + 2vmin);
  line-height: 2rem;
}

.box {
  margin: 15rem 3rem;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* ---------- NAVBAR ------------  */

.App-header {
  min-height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid gainsboro;
  background-color: rgba(40, 44, 52, 0.9);
  z-index: 100;
}

#logo {
  margin-left: 1.8rem;
  cursor: pointer;
}

a.link {
  margin: 0 4.3rem;
  text-decoration: none;
  cursor: pointer;
}

a.link.active {
  color: #f6e58d;
  text-shadow: 2px 2px 2px #b10f2e;
}

/* ----------- PROFIL COMPONENT ------------- */

#profile {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  letter-spacing: 0.2rem;
}

.profile-box {
  margin: 10rem 3rem;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.profile-card {
  width: 40%;
  margin: 0 auto;
}

.profile-title {
  margin-bottom: 0;
  font-size: calc(1.4rem + 3vmin);
  color: #f6e58d;
  text-shadow: 2px 2px 2px #b10f2e;
}

#profile img {
  width: 20rem;
  height: 20rem;
  margin: 2rem 0;
  border-radius: 5%;
  border: 2px solid silver;
  box-shadow: 3px 2px 3px 1px silver;
}

#profile p {
  margin-top: 0;
}

/* ----------- STACK COMPONENT ------------- */

.stack {
  width: 40%;
  text-align: center;
}

.stack h2 {
  margin-bottom: 5rem;
}

.icon {
  margin: 3.5rem;
  font-size: 6rem;
}

.icon:nth-child(2) {
  color: #e54c21;
}

.icon:nth-child(3) {
  color: #27a4d8;
}

.icon:nth-child(4) {
  color: #f7e018;
}

.icon:nth-child(5) {
  color: #8bbf3d;
}

.icon:nth-child(6) {
  color: #5ed3f3;
}

/* ----------- PROJECT COMPONENT ------------- */

#project div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  border: 2px solid gray;
  width: 28rem;
  height: 22rem;
  border-radius: 3%;
  margin: 3.1rem;
  color: white;
}

.project-card h2 {
  color: white;
}

.inner-box {
  width: 28rem;
  height: 22rem;
  border-radius: 2%;
}

.project-info {
  border: 2px solid #f6e58d;
  border-radius: 2%;
  width: 75%;
  margin: 0.4rem auto;
  text-align: center;
  word-spacing: 0.8rem;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.project-info svg {
  margin: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.project-info svg:hover {
  color: #faefb7;
}

/* ----------- CV COMPONENT ------------- */

#patchkwork {
  margin-bottom: 1rem;
}

#cv {
  margin-top: 0;
}

.patch-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.patch-container:nth-of-type(2),
.patch-container:nth-of-type(3) {
  align-items: baseline;
}

.patch-container p {
  letter-spacing: 0.2rem;
  margin: 3rem 0 3rem 6rem;
}

.patch-container .mobile-paragraph {
  display: none;
}

.patch-container p:first-of-type {
  margin-left: 5rem;
}

.patch-container p:nth-of-type(2) {
  margin-left: 7rem;
}

.patch-container hr {
  margin: 0 5.5rem;
  width: 0px;
  height: 100px;
}

.patch-container svg {
  color: white;
  margin: 3rem;
  font-size: 2rem;
}

.work-pic {
  border: 3px solid gainsboro;
  border-radius: 100%;
  display: inline;
  padding: 1rem;
}

.cv-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cv-container p {
  width: 30%;
  letter-spacing: 0.1rem;
}

.cv-container img {
  border: 2px solid gainsboro;
  border-radius: 2%;
  height: 15rem;
  width: 20rem;
}

.cv-pic {
  border: 2px solid gainsboro;
  border-radius: 2%;
  height: 15rem;
  width: 20rem;
  background: url("./images/cvPic3.PNG");
}

.cv-download {
  text-align: center;
  width: 70%;
  margin: 6.5rem auto;
}

.cv-pic svg {
  color: gainsboro;
  margin: 0 1.5rem;
  font-size: 2.4rem;
}

.cv-pic svg:hover {
  color: #faefb7;
}

/* ----------- CONTACT COMPONENT ------------- */

#contact:last-of-type {
  margin-bottom: 7rem;
}

#contact {
  text-align: center;
}

#contact svg {
  font-size: 5rem;
  margin: 5rem 6rem;
  cursor: pointer;
  color: white;
}

#contact svg:hover {
  color: #faefb7;
}

#contact a[href="tel:33660803766"] {
  position: relative;
}

#contact a[href="tel:33660803766"]:hover::after {
  position: absolute;
  top: -250%;
  left: 75%;
  border-radius: 3%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  content: "06 60 80 37 66";
  width: 80%;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
}

/* ----------- FOOTER ------------- */

.footer {
  text-align: right;
  font-size: 1.2rem;
  margin: 1.2rem 3.1rem;
  word-spacing: 0.3rem;
}

#test {
  display: none;
}

/* ------------------------------------------ */
/* ----------- RESPONSIVE RULES ------------- */
/* ------------------------------------------ */

@media only screen and (max-width: 1220px) {
  /* ----------- MAIN PAGE ------------- */

  .box {
    border-radius: 0;
    margin: 5rem 3rem;
  }

  #contact:last-of-type {
    margin-bottom: 2rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  /* ----------- BURGER MENU ------------- */

  .bm-burger-button {
    position: fixed;
    width: 40px;
    height: 34px;
    left: 5px;
    top: 150px;
  }

  .bm-burger-bars {
    background: gainsboro;
    border-radius: 13%;
  }

  .bm-burger-bars-hover {
    background: #faefb7;
  }

  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: gainsboro;
    transition: color 0.2s;
  }

  .bm-item:hover {
    color: white;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: gainsboro;
  }

  /* General sidebar styles */
  .bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Styling of overlay */
  .bm-overlay {
    background-color: rgba(40, 44, 52, 0.9);
  }

  .bm-menu-wrap {
    background-color: rgba(40, 44, 52, 0.9);
    top: 0;
  }

  /* ----------- PROFIL SECTION ------- */

  .profile-box {
    margin: 3rem;
    border-radius: 0;
  }

  .profile-title {
    margin: 0 auto;
    color: gainsboro;
  }

  .profile-card > .profile-title {
    display: none;
  }

  .profile-card {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }

  .stack {
    width: 100%;
  }

  #logo {
    display: none;
  }

  #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a.link.active {
    color: #f6e58d;
    text-shadow: 2px 2px 2px #b10f2e;
  }

  /* ----------- PROJECT SECTION ------------- */

  .project-card {
    width: 22rem;
    height: 17rem;
  }

  .inner-box {
    width: 22rem;
    height: 17rem;
  }

  .project-info {
    width: 100%;
    margin-top: -1rem;
  }

  .project-info p {
    font-size: 1.3rem;
  }

  /* ----------- CV SECTION ------------- */

  .patch-container hr {
    display: none;
  }

  .patch-container {
    flex-direction: column;
    align-items: center;
  }

  .patch-container svg {
    font-size: 4rem;
    margin-bottom: 0.4rem;
  }

  .patch-container .mobile-paragraph {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 !important;
  }

  .paragraph.mobile-paragraph:last-of-type {
    padding-bottom: 3rem;
  }

  .patch-container:last-of-type {
    display: none;
  }

  .cv-container {
    display: flex;
    flex-direction: column;
  }

  .cv-container p {
    width: 80%;
  }

  .cv-pic {
    margin: 3rem 0;
  }
}
