body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: gainsboro;
}

/* ---------- NAVBAR ------------  */

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(19px + 2vmin);
  font-weight: bold;
  position: sticky;
  top: 0;
  color: gainsboro;
  padding-bottom: 2rem;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid gainsboro;
  z-index: 100;
  background-color: rgba(40, 44, 52, 0.9);
}

#logo {
  margin-left: 30px;
  cursor: pointer;
  font-size: 2.4rem;
}

a.link {
  margin: 0 70px;
  text-decoration: none;
  cursor: pointer;
  padding: 0.3rem;
}

a.link.active {
  color: #8b6e74;
  text-shadow: 2px 2px 2px #b10f2e;
}

/* ----------- MAIN PAGE ------------- */

.box {
  margin: 10rem 3rem;
}

.box h2 {
  font-size: calc(22px + 2vmin);
  font-family: "Shadows Into Light", cursive;
}

/* ----------- PROFIL COMPONENT ------------- */

#profile {
  letter-spacing: 0.2rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.profile-card {
  width: 40%;
  margin: 0 auto;
}

#profile-title {
  font-size: calc(23px + 3vmin);
  text-shadow: 2px 2px 2px #b10f2e;
}

#profile img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  border: 2px solid silver;
  box-shadow: 3px 2px 3px 1px silver;
}

#profile p {
  font-size: calc(2px + 2vmin);
  line-height: 2rem;
  font-family: "Oswald", sans-serif;
}

.stack {
  text-align: center;
  width: 40%;
}

.stack h2 {
  margin-bottom: 5rem;
}

.icon {
  margin: 3.5rem;
  font-size: 6rem;
}

.icon:nth-child(2) {
  color: #e54c21;
}

.icon:nth-child(3) {
  color: #27a4d8;
}

.icon:nth-child(4) {
  color: #f7e018;
}

.icon:nth-child(5) {
  color: #8bbf3d;
}

.icon:nth-child(6) {
  color: #5ed3f3;
}

/* ----------- PROJECT COMPONENT ------------- */

#project div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#project > h2 {
  text-align: center;
}

.project-card {
  border: 2px solid gray;
  width: 450px;
  height: 350px;
  border-radius: 3%;
  margin: 50px;
  color: white;
}

.inner-box {
  width: 450px;
  height: 350px;
  border-radius: 2%;
}

.project-info {
  border: 2px solid white;
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 75%;
  margin: 1rem auto;
  text-align: center;
  word-spacing: 0.8rem;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
}

.project-info svg {
  margin: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.project-info svg:hover {
  color: rgb(233, 233, 125);
}

/* ----------- CV COMPONENT ------------- */

#cv {
  margin-top: 20%;
  height: 500px;
  text-align: center;
}

#cv canvas {
  border: 4px solid gainsboro;
  border-radius: 2%;
  box-shadow: 3px 2px 3px 1px silver;
  margin: 0 auto;
}

.cv-background {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* position: absolute; */
}

/* ----------- CONTACT COMPONENT ------------- */

#contact {
  margin-top: 600px;
}

.footer {
  text-align: right;
  margin: 20px;
}
