
/* ----------- MAIN PAGE ------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

:root {
  --dark-bg: #20232a;
  --dark-opacity-header-bg: rgba(32, 35, 42, 0.9);
  --dark-opacity-header-mobile-bg: rgba(32, 35, 42, 0);
  --dark-opacity-mobile-bg: rgba(40, 44, 52, 0.9);
  --modal-icon-bg: rgba(0, 0, 0, 0.2);

  --light-text-color: #dcdcdc;
  --focus-color: #64df15;
  --btn-focus-color: #4eb110;
}


body {
  margin: 0;
  padding: 0;
  font-size: calc(0.9rem + 0.9vw);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--dark-bg);
  color: var(--light-text-color);
}

.big-title {
  font-size: calc(1.3rem + 1vw);
  text-align: center;
  margin-top: 5rem;
}

.big-title::before {
  content: '[ ';
  color: var(--focus-color);
}
.big-title::after {
  content: ' ]';
  color: var(--focus-color);
}

.box {
  margin: 3rem;
  z-index: 2;
}

/* ---------- NAVBAR ------------  */

.App-header {
  min-height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--light-text-color);
  background-color: var(--dark-opacity-header-bg);
  z-index: 100;
}

#logo {
  margin-left: 1.8rem;
  cursor: pointer;
}

a.link {
  margin: 0 4.3rem;
  text-decoration: none;
  cursor: pointer;
}

a.link:hover {
  color:var(--focus-color);
}

a.link.active {
  color: var(--focus-color);
}

a.link.active::before {
  content: "<"
}

a.link.active::after {
  content: ">"
}

/* ----------- PROFIL COMPONENT ------------- */


.profile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  padding: 5rem 15rem;
  margin-top: 3rem;
}

.profile-card {
  width: 48%;
}

.profile-title {
  margin-bottom: 2rem;
  font-size: calc(1.2rem + 1vw);
  font-family: 'Raleway', sans-serif;
  color: var(--focus-color);
}

.profile-txt {
  font-size: calc(0.5rem + 0.9vw);
}

.profile-box img {
  width: 14rem;
  border-radius: 3px;
  box-shadow: 3px 2px 3px 1px var(--focus-color);
}

#profile p {
  margin-top: 0;
}

/* ----------- STACK COMPONENT ------------- */

.stack {
  padding: 3rem 15rem;
  text-align: center;
}

.icon {
  margin: 3.5rem;
  font-size: 4rem;
}

.icon:nth-child(1) {
  color: #e54c21;
}

.icon:nth-child(2) {
  color: #27a4d8;
}

.icon:nth-child(3) {
  color: #f7e018;
}

.icon:nth-child(4) {
  color: #5ed3f3;
}

.icon:nth-child(5) {
  color: #8bbf3d;
}


/* ----------- PROJECT COMPONENT ------------- */

#project {
  width: 50%;
  margin: 0 auto;
}

#project img {
  width: 100%;
}


/* ----------- CV COMPONENT ------------- */

#cv .big-title {
  margin-bottom: 3rem;
}

.cv-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skills {
  width: 30%;
  font-size: 1.2rem;
}

.downloadCV {
  display: block;
  margin-top: 3rem;
  padding: 0.6em 1em;
  font-size: 1.1em;
  background: var(--btn-focus-color);
  color: var(--light-text-color);
  text-decoration: none;
  border-radius: 0.3em;
  border: none;
}

.downloadCV:hover {
  color: var(--btn-focus-color);
  background-color: var(--light-text-color);
}



/* ----------- CONTACT  ------------- */

#contact {
  text-align: center;
  margin-top: 4rem;
}

#contact .big-title {
  display: none;
}

#contact svg {
  font-size: 2.5rem;
  margin: 2.5rem;
  cursor: pointer;
  color: var(--light-text-color);
}

#contact svg:hover {
  color: var(--focus-color);
  transform: scale(1.2);
}

#contact a {
  position: relative;
}

#contact a[href*="github"]:hover::after {
  content: "github.com/philippe76";
}

#contact a[href*="linkedin"]:hover::after {
  content: "in/philippe-lanougadere";
}

#contact a[href*="twitter"]:hover::after {
  content: "twitter.com/I_m_your_dev";
}

#contact a[href^="mail"]:hover::after {
  content: "p.lanougadere@gmail.com";
}

#contact a[href^="tel"]:hover::after {
  content: "06 60 80 37 66";
}

#contact a:hover::after {
  position: absolute;
  top: -8rem;
  left: -5rem;
  border-radius: 3%;
  padding: 1rem;
  background: var(--modal-icon-bg);
  color: var(--focus-color);
  width: 15rem;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
}


/* ----------- FOOTER ------------- */

.footer {
  text-align: right;
  font-size: 1.2rem;
  margin: 1.2rem 3.1rem;
  word-spacing: 0.3rem;
}



/* ------------------------------------------ */
/* ----------- RESPONSIVE RULES ------------- */
/* ------------------------------------------ */

@media only screen and (max-width: 1220px) {
  /* ----------- MAIN PAGE ------------- */

  .box {
    margin: 3rem;
  }

  .box#cv {
    margin-left: 0;
  }

  /* ----------- BURGER MENU ------------- */

  .App-header {
    border: none;
    background-color: var(--dark-opacity-header-mobile-bg);
  }

  .bm-burger-button {
    position: fixed;
    width: 40px;
    height: 34px;
    left: 5px;
    top: 150px;
  }

  .bm-burger-bars {
    background: var(--light-text-color);
    border-radius: 13%;
  }

  .bm-burger-button:hover .bm-burger-bars {
    background: var(--focus-color);
  }

  .bm-cross-button {
    right: 20px !important;
  }

  .bm-cross-button button {
    right: 20px !important;
    top: 10px !important;
  }

  .bm-cross {
    background: var(--light-text-color);
    width: 0.3rem !important;
    height: 2.1rem !important;
  }

  .bm-cross-button:hover .bm-cross {
    background: var(--focus-color);
  }

  .bm-item {
    display: inline-block;
    color: var(--light-text-color);
    margin-top: 2rem !important;
  }

  .bm-item-list {
    overflow-y: hidden !important;
  }

  .bm-menu {
    padding: 5em 1.3em 0;
    font-size: 1.15em;
  }

  .bm-menu-wrap {
    background-color: var(--dark-opacity-mobile-bg);
    top: 0;
  }

  /* ----------- PROFIL SECTION ------- */

 #profile {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  #profile img {
    display: none;
  }

  .profile-card {
    width: 100%;
  }

  .profile-box {
    padding: 0 8rem;
  }

  .stack {
    width: 80%;
    padding: 0;
    margin: 2rem auto;
  }

  .stack .icon {
    margin: 0 2rem;
    font-size: 2.5rem;
  }
  

  #logo {
    display: none;
  }

  /* ----------- PROJECT SECTION ------------- */



  /* ----------- CV SECTION ------------- */

  code {
    max-width: 100%;
  }

  code .skills {
    margin-left: 4rem;
    font-size: 0.9rem;
  }

  .cv-container {
    display: flex;
    flex-direction: column;
  }

  .cv-container p {
    width: 90%;
  }

  /* ----------- CONTACT  ------------- */

  #contact.box {
    margin: 0;
  }

  #contact svg {
    font-size: 2rem;
    margin: 1.5rem;
  }

  #contact a[href]:hover::after {
    opacity: 0;
  }

}
